#stage {
position: absolute;
top: 0;
left: 0;
width: 1920px;
height: 1080px;
overflow: hidden
}


#stage canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;        
  width: 100vw;
  height: 100vh;
}

#viewport {
z-index: 1;
pointer-events: none;
}

button.ui-button {
z-index: 5;
}

html, body {
  margin: 0;

  overflow: hidden;
}