#stage {
position: absolute;
top: 0;
left: 0;
width: 1920px;
height: 1080px;
overflow: hidden
}


#stage canvas {
position: absolute;
top: 0;
left: 0;
}

#physics {
z-index: 0;
}

#viewport {
z-index: 1;
pointer-events: none;
}

button.ui-button {
position: absolute;
z-index: 5;
}

html, body {
  margin: 0;

  overflow: hidden;
}