#stage {
position: absolute;
top: 0;
left: 0;
width: 1920px;
height: 1080px;
overflow: hidden
}


#stage canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;        
  width: 100vw;
  height: 100vh;
}

#viewport {
z-index: 1;
pointer-events: none;
}

button.ui-button {
z-index: 30;
}

html, body {
  margin: 0;

  overflow: hidden;
}

#center-bounds {
  position : absolute;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border: 2px dashed red;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
}

#works-frame {
  position: absolute;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  border: none;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
}


.fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fadeOut {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.longFadeIn {
  animation: fadeIn 2s forwards;
}

.longFadeOut {
  animation: fadeOut 2s forwards;
}