#stage {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


#stage canvas {
  display: block;        
  width: 100vw;
  height: 100vh;
}

#viewport {
z-index: 1;
pointer-events: none;
}

button.ui-button {
z-index: 5;
}

