#stage {
position: relative;
width: 1920px;
height: 1080px;
}


#stage canvas {
position: absolute;
top: 0;
left: 0;
}

#physics {
z-index: 0;
pointer-events: none;
}

#viewport {
z-index: 1;
pointer-events: none;
}